body {
    background-color: floralwhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  img {
    width: 50%;
    display: block;
    margin: auto;
  }
  p, h3 {
    text-align: center;
  }
  .baker {
    /* text-shadow: 1em burlywood; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .bio {
    text-align: center;
    text-transform: uppercase;
  }